<%- include('../partials/user-partial.ejs') -%>


  <main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container d-flex align-items-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Products</a></li>
        </ol>
        <!-- End .pager-nav -->
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
      <div class="container">
        <div class="product-details-top">
          <div class="row">
            <!-- Product Gallery Column -->
            <div class="col-md-6 col-sm-12">
              <div class="product-gallery product-gallery-vertical">
                <div class="row">
                  <figure class="product-main-image">
                    <img style="margin: auto; object-fit: fill;" id="product-zoom"
                      src="/public/sharpimages/<%=product.images[0]%>"
                      data-zoom-image="/public/sharpimages/<%=product.images[0]%>" alt="product image">
                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                      <i class="icon-arrows"></i>
                    </a>
                  </figure>
                  <!-- End .product-main-image -->

                  <div id="product-zoom-gallery" class="product-image-gallery">
                    <% product.images.forEach(function(image, index) { %>
                      <a class="product-gallery-item" href="#" data-image="/public/sharpimages/<%=image%>"
                        data-zoom-image="/public/sharpimages/<%=image%>">
                        <img src="/public/sharpimages/<%=image%>" alt="">
                      </a>
                      <% }) %>
                  </div>
                  <!-- End .product-image-gallery -->
                </div>
                <!-- End .row -->
              </div>
              <!-- End .product-gallery -->
            </div>
            <!-- End .col-md-6 -->

            <!-- Product Details Column -->
            <div class="col-md-6">
              <div class="product-details">
                <h1 class="product-title">
                  <%=product.name%>
                </h1>
                <!-- End .product-title -->
                <!-- End .rating-container -->

                <div class="product-price">
                  $<%=product.price%>
                </div>
                <!-- End .product-price -->

                <div class="product-content">
                  <p class="description">
                    <%= product.description %>
                  </p>
                </div>
                <!-- End .details-filter-row -->

                <div class="product-details-action">
                  <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>

                  <div class="details-action-wrapper">
                    <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                  </div>
                  <!-- End .details-action-wrapper -->
                </div>
                <!-- End .product-details-action -->
                <style>
                  .features-container {
                    text-align: start;
                    max-width: 49%;
                    overflow-wrap: break-word;
                  }
                </style>
                <div class="features-container">
                  <p>
                    <%= product.features %>
                  </p>
                </div>

                <div class="product-details-footer mt-1">
                    <span>Category:</span>
                    <%= product.categoryId.title %>
                  </div>

                <div class="social-icons social-icons-sm">
                  <span class="social-label">Share:</span>
                  <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                  <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                  <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                  <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                </div>
              </div>
              <!-- End .product-details -->
            </div>
            <!-- End .col-md-6 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .product-details-top -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-content -->


    <div class="product-details-tab">
      <ul class="nav nav-pills justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab"
            role="tab" aria-controls="product-shipping-tab" aria-selected="true">Shipping & Returns</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="product-shipping-tab" role="tabpanel"
          aria-labelledby="product-shipping-link">
          <div class="product-desc-content">
            <h3>Delivery & returns</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Donec odio. Quisque volutpat mattis eros. Nullam malesuada
              erat ut turpis. Suspendisse urna viverra non, semper
              suscipit, posuere a, pede. Donec nec justo eget felis
              facilisis fermentum. Aliquam porttitor mauris sit amet
              orci. Aenean dignissim pellentesque felis. Phasellus
              ultrices nulla quis nibh. Quisque a lectus. Donec
              consectetuer ligula vulputate sem tristique cursus.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              Donec odio. Quisque volutpat mattis eros. Nullam malesuada
              erat ut turpis. Suspendisse urna viverra non, semper
              suscipit, posuere a, pede. Donec nec justo eget felis
              facilisis fermentum. Aliquam porttitor mauris sit amet
              orci. Aenean dignissim pellentesque felis. Phasellus
              ultrices nulla quis nibh. Quisque a lectus. Donec
              consectetuer ligula vulputate sem tristique cursus.
            </p>
          </div>
          <!-- End .product-desc-content -->
        </div>
        <!-- .End .tab-pane -->
        <!-- .End .tab-pane -->
      </div>
      <!-- End .tab-content -->
    </div>

    <!-- End .product-details-tab -->
    <h2 class="title text-center mb-4">Related products...</h2>
    <!-- End .title text-center -->

    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
      <%relatedProducts.forEach((item)=>{%>
        <div class="product product-7 text-center">
          <figure class="product-media" style="background-color: white;">
            <!-- <span class="product-label label-new">New</span> -->
            <a href="/product-details/<%=item._id%>">
              <img src="/public/sharpimages/<%= item.images[0]%>"
                style="margin: auto; width: auto; height: 200px; object-position: center; object-fit: fill;"
                alt="Product image" class="product-image" />
            </a>

            <!-- End .product-action-vertical -->

            <div class="product-action">
              <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            </div>
            <!-- End .product-action -->
          </figure>
          <!-- End .product-media -->

          <div class="product-body">
            <div class="product-cat">
              <a href="#">
                <%=item.categoryId.title%>
              </a>
            </div>
            <!-- End .product-cat -->
            <h3 class="product-title">
              <a href="/product-details/<%=item._id%>">
                <%=item.name%>
              </a>
            </h3>
            <!-- End .product-title -->
            <div class="product-price">
              <%=item.price%>
            </div>
            <!-- End .product-price -->
            <!-- End .product-nav -->
          </div>
          <!-- End .product-body -->
        </div>
        <% }) %>
          <!-- End .product -->
    </div>
    <!-- End .owl-carousel -->
    </div>
    <!-- End .container -->
    </div>
    <!-- End .page-content -->
  </main>
  <!-- End .main -->

  <script src="/public/asset/js/jquery.min.js"></script>
  <script src="/public/asset/js/bootstrap.bundle.min.js"></script>
  <script src="/public/asset/js/jquery.hoverIntent.min.js"></script>
  <script src="/public/asset/js/jquery.waypoints.min.js"></script>
  <script src="/public/asset/js/superfish.min.js"></script>
  <script src="/public/asset/js/owl.carousel.min.js"></script>
  <script src="/public/asset/js/bootstrap-input-spinner.js"></script>
  <script src="/public/asset/js/jquery.elevateZoom.min.js"></script>
  <script src="/public/asset/js/bootstrap-input-spinner.js"></script>
  <script src="/public/asset/js/jquery.magnific-popup.min.js"></script>
  <script src="/public/asset/js/main.js"></script>
  </body>

  </html>